@{
    ViewData["Title"] = "Privacy Policy";
}

<style>
    p {
        text-align:justify;
        border:gray;
        margin:1.5rem;
                }

    section {
        text-align:justify;
    }

    h5{
        text-align:justify-all;
    }
</style>
<h1 style="text-align:justify">@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>


    
<h4 style="text-align:justify"> Privacy Policy for ShopAway</h4>

<p> This Privacy Policy explains how ShopAway ("we", "us", or "our") collects, uses, discloses, and protects your information when you use our website [ShopAway.com]<a href="https://www.shopaway.com">ShopAway</a> (the "Service").</p>


<h5>Information We Collect</h5>


<p> We may collect personal information that you provide to us when you use our Service. This information may include:</p>
<section>
    <li>  Contact information such as name, email address, mailing address, and phone number.</li>
    <li>  Payment information such as credit card details or other payment methods.</li>
    <li>  Information about your purchases and transactions with us.</li>
    <li>  Information you provide when you contact us for customer support or other inquiries.</li>
    <li>  Information automatically collected when you use our website, such as your IP address, browser type, device type, and browsing behavior.</li>
</section>

<br/>

<h5>How We Use Your Information </h5>

   <p> We may use the information we collect for various purposes, including:</p>
<section>
    <li> Processing your orders and transactions.</li>
    <li> Providing customer support and responding to your inquiries.</li>
    <li> Sending you marketing communications and promotional offers.</li>
    <li> Analyzing and improving our website and services.</li>
    <li> Complying with legal requirements and protecting our rights.</li>
    </section>
<br/>

<h5> Disclosure of Your Information></h5>


<p>We may disclose your information to third parties for the following purposes:</p>
<section >
<li>Service providers: We may share your information with third-party service providers who help us operate our website and provide our services</li> .
<li>Legal requirements: We may disclose your information when required by law or in response to legal requests or court orders.</li>
<li>Business transfers: If we are involved in a merger, acquisition, or sale of assets, your information may be transferred as part of that transaction.</li>
</section>
<br/>

<h5 >Data Security</h5>



<p>We take reasonable measures to protect your information from unauthorized access, use, or disclosure. However, no method of transmission over the internet or electronic storage is 100% secure, and we cannot guarantee absolute security.</p>

<br/>

<h5>Your Choices</h5>



<p>You can choose not to provide certain information to us, but this may limit your ability to use certain features of our Service. You can also opt-out of receiving marketing communications from us by following the instructions in the communication.</p>

<h5 >Changes to This Privacy Policy</h5>

<p>We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>

<br/>

<h6 style="text-align:center">Contact Us</h6>

<p>If you have any questions about this Privacy Policy, please contact us at <a href="" type="number">+27 71 563 1939</a> or Email us at: <a href="" type="email">contact@shopaway.com</a>.</p>

    
